.addModal{
    .ingredientField{
        .ingredientInput{
            display: flex;
        }

        #ingredientBtn {
            background-color: #2196F3;
            color: white;
            border: none;
            border-radius: 50px;
            width: 40px;
            margin: 0 10px;
        }
    }

    .directionField{
        .directionInput{
            display: flex;
        }

        #directionBtn {
            background-color: #2196F3;
            color: white;
            border: none;
            border-radius: 50px;
            width: 40px;
            margin: 0 10px;
        }
    }

    .rate {
        height: 46px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    .rate :nth-child(8) { order: 1; }
        .rate :nth-child(2) { order: 4;  }
        .rate :nth-child(4) { order: 3; }
        .rate :nth-child(6) { order: 2; }

    .rate:not(:checked) > input {
        position:absolute;
        top:-9999px;
    }
    .rate:not(:checked) > label {
        float:right;
        width:1em;
        overflow:hidden;
        white-space:nowrap;
        cursor:pointer;
        font-size:30px;
        color:#ccc;
    }
    .rate:not(:checked) > label:before {
        content: '★ ';
    }
    .rate > input:checked ~ label {
        color: #ffc700;    
    }
    .rate:not(:checked) > label:hover,
    .rate:not(:checked) > label:hover ~ label {
        color: #deb217;  
    }
    .rate > input:checked + label:hover,
    .rate > input:checked + label:hover ~ label,
    .rate > input:checked ~ label:hover,
    .rate > input:checked ~ label:hover ~ label,
    .rate > label:hover ~ input:checked ~ label {
        color: #c59b08;
    }


    .delIcon {
        color: red;
        margin-left: 10px;
        cursor: pointer;
    }

}

