@charset "UTF-8";
.recipesContainer .titleSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.recipesContainer .titleSearch input[type=text] {
  width: 15%;
  height: 40px;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 20px;
  padding-left: 10px;
}

.recipesContainer .titleSearch #searchBtn {
  border: none;
  border-radius: 50px;
  background-color: #2196f3;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
  margin-right: 5px;
}

.recipesContainer .titleSearch #clearBtn {
  border: none;
  border-radius: 50px;
  background-color: #F44336;
  color: white;
  padding: 10px 20px;
  text-transform: uppercase;
}

.recipes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.recipes .recipe-card {
  position: relative;
  background: #fff;
  width: 350px;
  min-height: 500px;
  margin: 20px 10px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.recipes .recipe-card img {
  width: 100%;
}

.recipes .recipe-card .card-bottom {
  padding: 1.25em 1.5em;
}

.recipes .recipe-card .card-bottom .checked {
  color: orange;
}

.recipes .recipe-card .card-bottom ul {
  list-style: none;
  margin: 0.5em 0 0;
  padding: 0;
}

.recipes .recipe-card .card-bottom ul li {
  display: inline-block;
  margin-left: 1em;
  line-height: 1em;
}

.recipes .recipe-card .card-bottom ul li:first-child {
  margin-left: 0;
}

.recipes .recipe-card .card-bottom ul li .icon {
  vertical-align: bottom;
}

.recipes .recipe-card .card-bottom ul li span:nth-of-type(2) {
  margin-left: 0.5em;
  font-size: 0.8em;
  font-weight: 300;
  vertical-align: middle;
  color: #838689;
}

.recipes .recipe-card .card-bottom h2, .recipes .recipe-card .card-bottom h3 {
  margin: 0;
  font-weight: 300;
}

.recipes .recipe-card .card-bottom h2 {
  font-size: em(28);
  color: #222222;
}

.recipes .recipe-card .card-bottom h3 {
  font-size: em(15);
  color: #838689;
}

.recipes .recipe-card .card-bottom p {
  margin: 1.25em 0;
  font-size: em(13);
  font-weight: 400;
  color: #222222;
}

.recipes .recipe-card .card-bottom p span {
  font-weight: 700;
  color: #000000;
}

.recipes .recipe-card .card-bottom .ingredients {
  margin: 5px 5px 15px 0;
}

.recipes .recipe-card .icon {
  display: inline;
  display: inline-block;
  background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/203277/recipe-card-icons.svg);
  background-repeat: no-repeat;
}

.recipes .recipe-card .icon-calories, .recipes .recipe-card .icon-calories\:regular {
  background-position: 0 0;
  width: 16px;
  height: 19px;
}

.recipes .recipe-card .icon-clock, .recipes .recipe-card .icon-clock\:regular {
  background-position: 0 -19px;
  width: 20px;
  height: 20px;
}

.recipes .recipe-card .icon-level, .recipes .recipe-card .icon-level\:regular {
  background-position: 0 -39px;
  width: 16px;
  height: 19px;
}

.recipes .recipe-card .icon-play, .recipes .recipe-card .icon-play\:regular {
  background-position: 0 -58px;
  width: 21px;
  height: 26px;
}

.recipes .recipe-card .icon-users, .recipes .recipe-card .icon-users\:regular {
  background-position: 0 -84px;
  width: 18px;
  height: 18px;
}

.recipes .recipe-card .edit {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 32px;
  margin: 5px 45px 5px 0;
  cursor: pointer;
  color: #4caf50;
}

.recipes .recipe-card .trash {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 32px;
  margin: 8px;
  cursor: pointer;
  color: #F44336;
}

.addModal .ingredientField .ingredientInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.addModal .ingredientField #ingredientBtn {
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 50px;
  width: 40px;
  margin: 0 10px;
}

.addModal .directionField .directionInput {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.addModal .directionField #directionBtn {
  background-color: #2196F3;
  color: white;
  border: none;
  border-radius: 50px;
  width: 40px;
  margin: 0 10px;
}

.addModal .rate {
  height: 46px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.addModal .rate :nth-child(8) {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.addModal .rate :nth-child(2) {
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
}

.addModal .rate :nth-child(4) {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.addModal .rate :nth-child(6) {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.addModal .rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}

.addModal .rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}

.addModal .rate:not(:checked) > label:before {
  content: '★ ';
}

.addModal .rate > input:checked ~ label {
  color: #ffc700;
}

.addModal .rate:not(:checked) > label:hover,
.addModal .rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}

.addModal .rate > input:checked + label:hover,
.addModal .rate > input:checked + label:hover ~ label,
.addModal .rate > input:checked ~ label:hover,
.addModal .rate > input:checked ~ label:hover ~ label,
.addModal .rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}

.addModal .delIcon {
  color: red;
  margin-left: 10px;
  cursor: pointer;
}

.float {
  position: fixed;
  width: 55px;
  height: 55px;
  bottom: 20px;
  right: 20px;
  background-color: #2196f3;
  border-radius: 50px;
  border: none;
  color: #FFF;
  text-align: center;
  -webkit-box-shadow: 2px 2px 3px #999;
          box-shadow: 2px 2px 3px #999;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.float:hover {
  color: white;
  -webkit-box-shadow: 6px 6px 8px #999;
          box-shadow: 6px 6px 8px #999;
}

.float .my-float {
  margin-top: 6px;
  font-size: 25px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}
/*# sourceMappingURL=styles.css.map */